BACKEND_URL=http://127.0.0.1:8000
APP_ORIGINS=http://127.0.0.1:3000,http://localhost:3000,https://smartdine.aslijarvis.ninja,http://13.53.190.53
# Use the public address customers can open on their phones:
NEXT_PUBLIC_SITE_URL=https://smartdine.aslijarvis.ninja
